@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
header{
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: #6495ED;
    font-family: Montserrat;
    height: 115px; width: 1390px;
}
h1{
    color:white;
    font-weight: normal;
}
li{
    list-style-type: none;
    list-style: none;
    display: inline;
    margin: 0px 75px 0px 75px;   

}
a{
    color: white;
    text-decoration: none;
}